.exploit-surfacewater-heading { font-size: 12px; }
.surfacewater-usage-title, .discharge-water-title, .construction-info-title, .exploit-surfacewater-title { background: #2f80ed33; }
#dams-num { left: 8px; top: 5px; }
#slash { top: 8px; left: 27px; }
#total-dams { top: 12px; left: 32px; }
.surfacewater-usage, .discharge-water, .construction-info, .exploit-surfacewater, #wastewater-wrap { border: 1px solid #d5e6fb; }
.exploit-surfacewater span { line-height: initial; }
#surfacewater-usage { overflow-y: auto; height: calc(100vh - 156px); }
.surfacewater-usage-content, .discharge-water-content { height: 75px; }
.surfacewater-usage-item p, .discharge-water-item p { height: 40px; }
.btn-license { background: #3883e6; box-shadow: 3px 3px 20px #ded7d7; transition: 0.5s; color: white;}
.btn-license:hover { background: #a5c8f7; box-shadow: unset;background: #2f80ed33; color: black;  }
/* Custom scroll bar */
::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5; 
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.table-license-manage, .table-license-manage th, .table-license-manage td {
	border: 1px solid #8d9398;
}

.table-license-manage thead th { border-bottom: 1px solid #8d9398 !important; background: #dadafb; }
.table-license-manage td { background: #f9f7f7; }

.list-construction {    
	z-index: 9;
    width: 211px;
    background: #efefef;
    box-shadow: 1px 5px 5px grey;
	height: 220px;
    overflow-y: scroll;
	display: none;
}

.list-construction li:hover { cursor: pointer; background: #b1d7ff; }
.container-table { overflow-x: auto; }
.earth-icon { width: 20px; height: 20px; }
.construction-link { cursor: pointer; }
.construction-info textarea { resize: none; }
.table thead th { vertical-align: middle !important; }

@media screen and (min-width: 768px) {
	.exploit-surfacewater-heading { font-size: unset; }
	.surfacewater-usage-content, .discharge-water-content { height: unset; }
	.surfacewater-usage-item p, .discharge-water-item p { height: unset; }

	#dams-num { left: 46px; top: 17px; }
	#slash { top: 21px;	left: 65px;	}
	#total-dams { top: 25px; left: 70px; }
}

@media screen and (min-width: 1024px) {
	#dams-num {	left: 11px;	top: 3px; }
	#slash { top: 8px; left: 29px; }
	#total-dams { top: 14px; left: 33px; }
	.leaflet-popup-content { width: 300px !important; margin: 13px !important; }
}