.construction-select { width: 180px; }
option { font-size: 14px; }
.monitoring-object-title, .observed-data-title, .observed-info-title, .observed-for-electric-title  { background: #2f80ed33;}
.observed-data-content .grid-item, .observed-info-content .grid-item, .observed-for-electric .grid-item  { background: #f2f2f2;cursor: pointer; }
.monitoring-system { overflow-y: auto; height: calc(100vh - 156px); }
/* Custom scroll bar */
.monitoring-system::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.monitoring-system::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5; 
}

.monitoring-system::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
/* so lieu quan trac mua */
.slqtm_header{color:#088224;background-color: lightblue;}
.slqtm_thead{background-color: lightblue;}
.slqtm_tbody{background-color: #ececec;}
.cursor-pointer{cursor: pointer;}

@media screen and (min-width: 1024px) {
	.leaflet-popup-content { width: 300px !important; margin: 13px !important; }
}